---
import { urlFor } from '../../lib/sanityImage';
import { Image } from 'astro:assets';
import Media from '../Media.astro';

const { node } = Astro.props;
---

<div class="pt-48 pb-48">
  <div class="pb-7">
    {node.title}
    <div class="text-gray-500">{node.subtitle}</div>
  </div>
  <Media>
    <Image
      src={urlFor(node.image).width(2880).url()}
      alt={node.image.alt || ''}
      inferSize={true}
      class="block"
      format="auto"
      loading="eager"
      slot="media"
    />
  </Media>
</div>
