---
import { PortableText } from "astro-portabletext";
import type { BodyBlock } from "../../lib/sanityTypes";
import List from "./List.astro";
import ExperienceList from "./ExperienceList.astro";

const { node } = Astro.props;

const showDivider = node.showDivider || false;
const leftItems: BodyBlock[] = node.left || [];
const rightItems: BodyBlock[] = node.right || [];
---
<section class:list={[ 'sm:grid sm:grid-cols-2 gap-6 min-h-section pt-6 pb-48', { 'border-t border-gray-200 dark:border-gray-800': showDivider } ]}>
  <div class="flex flex-col gap-4 pt-6">
    {leftItems.map(item => (
      <PortableText value={item.body} />
    ))}
  </div>
  <div class="flex flex-col gap-4 py-6">
    {rightItems.map(item => {
      if (item._type === 'list') {
        return <List node={item} />;
      }

      if (item._type === 'experienceList') {
        return <ExperienceList node={item} />;
      }

      return <PortableText value={item.body} />;
    })}
  </div>
</section>
