---
import { urlFor } from '../../lib/sanityImage'
import { Image } from 'astro:assets';
import Media from '../Media.astro';

const { node } = Astro.props;
const image = node.image;
---

<section class="pb-48">
  <Media>
    <Image
      src={urlFor(image).width(2880).url()}
      alt={image.alt || ''}
      inferSize={true}
      format="auto"
      loading="lazy"
      slot="media"
    />
  </Media>
  <div class="grid sm:grid-cols-2 pt-6 sm:gap-6">
    <div></div>
    <p>{node.text}</p>
  </div>
</section>
