---
import { urlFor } from '../../lib/sanityImage'
import { Image } from 'astro:assets';
import Media from '../Media.astro';

const { node } = Astro.props;
const mediaItems = node.mediaItems;

type SanityMediaWithAlt = {
  asset: {
    _ref: string;
    _type: 'reference';
  };
  alt?: string;
};
---
<section class="pb-48">
  <div class="grid sm:grid-cols-2 gap-6">
    {mediaItems.map((image: SanityMediaWithAlt) => (
      <Media>
        <Image
          src={urlFor(image).width(1440).url()}
          alt={image.alt || ''}
          inferSize={true}
          class="image-item"
          format="auto"
          loading="lazy"
          slot="media"
        />
      </Media>
    ))}
  </div>
  <div class="grid sm:grid-cols-2 sm:gap-6 sm:mt-6 pt-6 sm:border-t border-gray-200 dark:border-gray-800">
    <div></div>
    <p>{node.text}</p>
  </div>
</section>
