---
import { urlFor } from '../../lib/sanityImage'
import { Image } from 'astro:assets';

const { node } = Astro.props;
const mediaItems = node.mediaItems;

type SanityMediaWithAlt = {
  asset: {
    _ref: string;
    _type: 'reference';
  };
  alt?: string;
};
---

<section class="pb-48">
  <div class="grid sm:grid-cols-2 gap-6">
    {mediaItems.map((image: SanityMediaWithAlt) => (
      <Image
        src={urlFor(image).width(1440).url()}
        alt={image.alt || ''}
        inferSize={true}
        class="image-item"
        format="auto"
        loading="eager"
      />
    ))}
  </div>
  <div class="grid sm:grid-cols-2 gap-6 mt-6 pt-6 border-t border-gray-200 dark:border-gray-800">
    <div></div>
    <p>{node.text}</p>
  </div>
</section>
