@import 'tailwindcss';

/* Define semantic tokens that respond to prefers-color-scheme */
:root {
  --background: var(--color-gray-100);
  --foreground-primary: var(--color-gray-950);
  --foreground-secondary: var(--color-gray-600);
  --foreground-inverted: var(--color-gray-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-900);
    --foreground-primary: var(--color-gray-200);
    --foreground-secondary: var(--color-gray-300);
    --foreground-inverted: var(--color-gray-900);
  }
}

@theme {
  --font-sans:
    aktiv-grotesk, Helvetica, Arial, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-display:
    polymath-display, Helvetica, Arial, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* Use stone as gray */
  --color-gray-50: oklch(0.985 0.001 106.423);
  --color-gray-100: oklch(0.97 0.001 106.424);
  --color-gray-200: oklch(0.923 0.003 48.717);
  --color-gray-300: oklch(0.869 0.005 56.366);
  --color-gray-400: oklch(0.709 0.01 56.259);
  --color-gray-500: oklch(0.553 0.013 58.071);
  --color-gray-600: oklch(0.444 0.011 73.639);
  --color-gray-700: oklch(0.374 0.01 67.558);
  --color-gray-800: oklch(0.268 0.007 34.298);
  --color-gray-900: oklch(0.216 0.006 56.043);
  --color-gray-950: oklch(0.147 0.004 49.25);

  /* Assign semantic tokens */
  --color-background: var(--background);
  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-inverted: var(--foreground-inverted);

  --container-8xl: 90rem;
  --section-height: 50.625rem;
}

@layer utilities {
  .max-w-8xl {
    max-width: var(--container-8xl);
  }
  .min-h-section {
    min-height: var(--section-height);
  }
}
